﻿@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<script>
    $(document).ready(function () {
        $('#contactList').DataTable();

        var listOfAddresses = [];
        var id = 0;
        var fName = '';
        var lName ='';
        var street = '';
        var city = '';
        var state = '';
        var zip = '';

        var userIndex = 0;

        // Get the modal
        var modal = document.getElementById('myModal');
        var modalEdit = document.getElementById('myModalEdit');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var spanEdit = document.getElementsByClassName("closeEdit")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        spanEdit.onclick = function () {
            modalEdit.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        window.onclick = function (event) {
            if (event.target == modalEdit) {
                modalEdit.style.display = "none";
            }
        }

        holdAddress = function()
        {
            fName = $('#FirstName').val();
            lName = $('#LastName').val();
            street = $('#StreetAddress').val();
            city = $('#City').val(); 
            state = $('#State').val();
            zip = $('#Zip').val();

            if (street != "") {
                listOfAddresses.push({ "Street": street, "City": city, "State": state, "Zip": zip });

                $("#addressList").empty();
                $('#addressList').append("<thead>< tr ><th>Street</th><th>City</th><th>State</th><th>Zip</th><th></th></tr ></thead ><tbody></tbody>");
                $.each(listOfAddresses, function (index, value) {
                    $("#addressList tr").last().after("<tr><td>" + value.Street + "</td><td>" + value.City + "</td><td>" + value.State + "</td><td>" + value.Zip + "</td><td>" + "<button type=\"button\" id=\"" + index + "\" class=\"btn btn-danger\" onclick=\"remove(" + index + ")\">Delete</button>" + "</td></tr>");
                });
            }

            $('#FirstName').val("");
            $('#LastName').val("");
            $('#StreetAddress').val("");
            $('#City').val(""); 
            $('#State').val("");
            $('#Zip').val("");
        }

        saveNewContact = function()
        {
            var index = 0;

            $.ajax({
                type: "POST",
                url: "http://localhost:50863/api/contact",
                data: JSON.stringify({ FirstName: fName, LastName: lName, Address: listOfAddresses }),
                contentType: 'application/json; charset=utf-8'
            }).done(function () {
                $('#contactList td:first-child').each(function () {
                    index = $(this).text();
                    alert(index);
                });

                $("#contactList tr").last().after("<tr><td>" + ++index + "</td><td>" + fName + "</td><td>" + lName + "</td><td>" + street + "</td><td>" + city + "</td><td>" + state + "</td><td>" + zip + "</td></tr>");
                modal.style.display = "none";
            }).fail(function(){
                    alert("Was unable to save, please try again");
            });
        }

        updateContact = function () {
            var index = 0;

            fName = $('#FirstNameEdit').val();
            lName = $('#LastNameEdit').val();

            $.ajax({
                type: "POST",
                url: "http://localhost:50863/api/contact/update",
                data: JSON.stringify({ Id : userIndex, FirstName: fName, LastName: lName, Address: listOfAddresses }),
                contentType: 'application/json; charset=utf-8'
            }).done(function () {
                modalEdit.style.display = "none";
            }).fail(function () {
                alert("Was unable to save, please try again");
            });
        }


        remove = function (index)
        {
            listOfAddresses.splice(index,1);

            $("#addressList").empty();
            $('#addressList').append("<thead>< tr ><th>Street</th><th>City</th><th>State</th><th>Zip</th><th></th></tr ></thead ><tbody></tbody>");
            $.each(listOfAddresses, function (index, value) {
                $("#addressList tr").last().after("<tr><td>" + value.Street + "</td><td>" + value.City + "</td><td>" + value.State + "</td><td>" + value.Zip + "</td><td>" + "<button type=\"button\" id=\"" + index + "\" class=\"btn btn-danger\" onclick=\"remove(" + index + ")\">Delete</button>" + "</td></tr>");
            });
        }

        $('#contactList >tbody > tr').dblclick(function () {
            var id = $(this).attr('id');

            userIndex = id;

            $.ajax({
                type: "GET",
                url: "http://localhost:50863/api/contact/"+id,
                contentType: 'application/json; charset=utf-8'
            }).done(function (e) {
                console.log(e);
                $("#FirstNameEdit").val(e.FirstName);
                $("#LastNameEdit").val(e.LastName);
                $("#StreetAddressEdit").val(e.Address[0].Street);
                $("#CityEdit").val(e.Address[0].City);
                $("#StateEdit").val(e.Address[0].State);
                $("#ZipEdit").val(e.Address[0].Zip);

                $.each(e.Address, function (index, value) {
                    listOfAddresses.push({ "Street": value.Street, "City": value.City, "State": value.State, "Zip": value.Zip });

                    $("#addressListEdit tr").last().after("<tr><td>" + value.Street + "</td><td>" + value.City + "</td><td>" + value.State + "</td><td>" + value.Zip + "</td><td>" + "<button type=\"button\" id=\"" + index + "\" class=\"btn btn-danger\" onclick=\"remove(" + index + ")\">Delete</button>" + "</td></tr>");
                });

                modalEdit.style.display = "block";

            }).fail(function () {
                alert("Was unable to save, please try again");
            });
        });
    });
</script>
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        /*****************************************************/

    /* The Modal (background) */
    .modalEdit {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modalEdit-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .closeEdit {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .closeEdit:hover,
        .closeEdit:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div class="jumbotron">
    <div style="margin:10px 0px">
        <button class="btn btn-success" id="myBtn"> <i class="fas fa-plus"></i></button>
    </div>
    <table id="contactList" class="display" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td >@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Address[0].Street</td>
                    <td>@item.Address[0].City</td>
                    <td>@item.Address[0].State</td>
                    <td>@item.Address[0].Zip</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <div style="text-align:center; margin:auto;">
            <div class="container" style="width:100%;">
                <div class="col-md-12">
                    <form role="form" style="width:500px; margin:auto;">
                        <br style="clear:both">
                        <h3 style="margin-bottom: 25px; text-align: center;">Add New Contact</h3>

                        <div class="form-group">
                            <div class="col-sm-6" style="margin-bottom:10px;">
                                <input type="text" id="FirstName" placeholder="First Name" name="FirstName" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:10px;">
                                <input type="text" id="LastName" placeholder="Last Name" name="LastName" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:10px;">
                            <div class="col-sm-12" style="margin-bottom:10px;">
                                <input type="text"  id="StreetAddress"  placeholder="Street" name="Street" class="form-control" style="margin-right:0px; text-align:center; float:none;" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:10px;">
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input type="text" id="City" placeholder="City" name="City" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                            <div class="col-sm-3" style="margin-bottom:10px;">
                                <input type="text" id="State" placeholder="State" name="State" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                            <div class="col-sm-3" style="margin-bottom:10px;">
                                <input type="text" id="Zip" placeholder="Zip" name="Zip" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                            <div class="col-sm-2" style="margin-bottom:10px;">
                                <button type="button" class="btn btn-success" onclick="holdAddress()"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <div>
                            <table id="addressList" class="table table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Street</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Zip</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 " style="display:block;"></div>
                            <div class="col-sm-4 ">
                                <button type="button" id="submit" name="submit" class="btn btn-success" onclick="saveNewContact()">Save</button>
                            </div>
                            <div class="col-sm-4 " style="display:block; width:100%;"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="myModalEdit" class="modalEdit">
    <!-- Modal content -->
    <div class="modalEdit-content">
        <span class="closeEdit">&times;</span>

        <div style="text-align:center; margin:auto;">
            <div class="container" style="width:100%;">
                <div class="col-md-12">
                    <form role="form" style="width:500px; margin:auto;">
                        <br style="clear:both">
                        <h3 style="margin-bottom: 25px; text-align: center;">Edit Contact</h3>

                        <div class="form-group">
                            <div class="col-sm-6" style="margin-bottom:10px;">
                                <input type="text" id="FirstNameEdit" placeholder="First Name" name="FirstNameEdit" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:10px;">
                                <input type="text" id="LastNameEdit" placeholder="Last Name" name="LastNameEdit" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:10px;">
                            <div class="col-sm-12" style="margin-bottom:10px;">
                                <input type="text" id="StreetAddressEdit" placeholder="Street" name="StreetEdit" class="form-control" style="margin-right:0px; text-align:center; float:none;" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:10px;">
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input type="text" id="CityEdit" placeholder="City" name="CityEdit" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                            <div class="col-sm-3" style="margin-bottom:10px;">
                                <input type="text" id="StateEdit" placeholder="State" name="StateEdit" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                            <div class="col-sm-3" style="margin-bottom:10px;">
                                <input type="text" id="ZipEdit" placeholder="Zip" name="ZipEdit" class="form-control" style="margin:0 auto; text-align:center; float:none;" required>
                            </div>
                            <div class="col-sm-2" style="margin-bottom:10px;">
                                <button type="button" class="btn btn-success" onclick="holdAddress()"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <div>
                            <table id="addressListEdit" class="table table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Street</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Zip</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 " style="display:block;"></div>
                            <div class="col-sm-4 ">
                                <button type="button" id="submit" name="submit" class="btn btn-success" onclick="updateContact()">Update</button>
                            </div>
                            <div class="col-sm-4 " style="display:block; width:100%;"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var index = 0;
    $('td:first-child').each(function () {
        index= $(this).text();
    });

    console.log(index);
</script>